<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
        <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Management Login"></Label>
    </GridLayout>
</ActionBar>

<ScrollView>
    <StackLayout paddingTop="50" class="page page-icon form" [formGroup]="form" paddingBottom="20">
        <StackLayout>
            <TextField
                    class="input input-field"
                    returnKeyType="next"
                    keyboardType="email"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    formControlName="email"
                    hint="Email"
                    #emailEl
            ></TextField>
            <Label
                    *ngIf="!emailControlIsValid"
                    class="input-error"
                    text="Please enter a valid email."
            ></Label>
        </StackLayout>
        <StackLayout class="">
            <TextField
                    class="input input-field"
                    returnKeyType="done"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    [secure]="true"
                    hint="Password"
                    formControlName="password"
                    (returnPress)="onDone()"
                    #passwordEl
            ></TextField>
            <Label  class="input-error"
                    *ngIf="!passwordControlIsValid"
                    text="Must be 8+ characters long."
            ></Label>
        </StackLayout>
        <Button
                class="btn btn-main"
                text="Login"
                (tap)="onSubmit()"
                [disabled]="!form.valid"
        ></Button>
        <GridLayout rows="auto, auto" paddingTop="15">
            <GridLayout row="0" class="text-center small" columns="*,4*,3*">
                <Label col="0"></Label>
                <Label col="1" class="small" text="Forgot Password?"> </Label>
                <Label text="Click Here"  col="2" (tap)="goToForgotPassword()" class="small link" ></Label>
            </GridLayout>
        </GridLayout>
        <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
    </StackLayout>

</ScrollView>
