/* Add mobile styles for the component here.  */

.password-login-button {
    color: #000000;
    background-color: #F5F5F5;
    width: 400px;
    height: 200px;
    padding: 10px 31px 10px 31px;
    border-width: 3px;
}

.admin-label {
    margin-left: 60%;
    font-size: 20px;
    color: #000000;margin-bottom: 20px;
}

.logo {
    margin-top: 400px;
    margin-left: 25%;
}

.input {
    /* height: 45; */
    border-radius: 3;
    border-width: 1;
    border-color: #ddd;
}
.item-box-image {
    justify-content: center;
    align-items: center;
    height: 300;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
}

