<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Monitoring & Secure Recording Vital Signs for Asthmatic Patients"></Label>
</ActionBar>

<StackLayout  class="page ">
    <StackLayout paddingBottom="50" paddingTop="20">
        <Label class="text-center page-title" text="Patient Home Screen"></Label>
    </StackLayout>
    <StackLayout paddingBottom="30">
        <Button class="btn btn-primary" (tap)="goToBrowseRelevantInfo()" text="Browse Relevant Information"></Button>
    </StackLayout>
    <StackLayout paddingBottom="30">
        <Button class="btn btn-primary"  text="Provide Readings from Wearable"></Button>
    </StackLayout>
    <StackLayout>
        <Button class="btn btn-primary" text="Create End of History"></Button>
    </StackLayout>
</StackLayout>
