<ScrollView>
    <StackLayout>
        <StackLayout paddingBottom="50" paddingTop="20">
            <Label class="text-center page-title" text="Customer Booking Form"></Label>
        </StackLayout>
        <StackLayout paddingBottom="30">
            <Label class="text-center page-title" text="Ade Adeoye"></Label>
        </StackLayout>
        <StackLayout>
            <GridLayout paddingBottom="30" rows="*,*,*,*" columns="*,4*,4*,4*,4*,4*,4*, *">
                <Label row="0" col="0"  text=""></Label>
                <Label  row="0" col="1"  text="Mon"></Label>
                <Label row="0" col="2"  text="Tue"></Label>
                <Label  row="0" col="3" text="Wed"></Label>
                <Label row="0" col="4"  text="Thur"></Label>
                <Label  row="0" col="5" text="Fri"></Label>
                <Label  row="0" col="6" text="Sat"></Label>
                <Label  row="0" col="7" text=""></Label>
                <Label row="1" col="0"  text="9-10"></Label>
                <Label  row="1" col="1"  text=""></Label>
                <Label row="1" col="2"  text="9-10"></Label>
                <Label  row="1" col="3" text=""></Label>
                <Label row="1" col="4"  text=""></Label>
                <Label  row="1" col="5" text=""></Label>
                <Label  row="1" col="6" text=""></Label>
                <Label  row="1" col="7" text=""></Label>
                <Label row="2" col="0"  text="7-9"></Label>
                <Label  row="2" col="1"  text=""></Label>
                <Label row="2" col="2"  text=""></Label>
                <Label  row="2" col="3" text="11-12"></Label>
                <Label row="2" col="4"  text=""></Label>
                <Label  row="2" col="5" text=""></Label>
                <Label  row="2" col="6" text=""></Label>
                <Label  row="2" col="7" text=""></Label>
                <Label row="3" col="0"  text=""></Label>
                <Label  row="3" col="1"  text=""></Label>
                <Label row="3" col="2"  text=""></Label>
                <Label  row="3" col="3" text="11-1"></Label>
                <Label row="3" col="4"  text=""></Label>
                <Label  row="3" col="5" text=""></Label>
                <Label  row="3" col="6" text=""></Label>
                <Label  row="3" col="7" text=""></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout>
            <Button class="btn btn-primary" col="1" text="Confirm"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
