<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
        <Image src="res://account" class="account-icon" row="0" verticalAlignment="center" col="2" stretch="aspectFill" (tap)="onLogout()"></Image>
        <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Customer Booking Form"></Label>
    </GridLayout>
</ActionBar>
<ScrollView>
    <StackLayout>
        <StackLayout paddingBottom="30" paddingTop="30">
            <Label class="text-center customer-name" (text)="getCustomerName()"></Label>
        </StackLayout>
        <StackLayout>
            <FlexboxLayout class="table-head">
                <Label text="Mon" class="th-item"></Label>
                <Label text="Tue" class="th-item"></Label>
                <Label text="Wed" class="th-item"></Label>
                <Label text="Thur" class="th-item"></Label>
                <Label text="Fri" class="th-item"></Label>
            </FlexboxLayout>
            <FlexboxLayout *ngFor="let tr of timeRange | keyvalue; let i = index"
                [class.odd]="i%2 != 0"
                [class.even]="i%2 == 0">
                <Label *ngFor="let f of tr.value"
                    [text]="f.time"
                    [class.is-selected]="selectedSlot?.key == tr.key && selectedSlot?.value.timeSlot == f.time && selectedSlot?.value.bookedDay == f.day"
                    class="th-item" (tap)="onSelectSlot(tr.key, f.day, f.time)"></Label>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout>
            <Button class="btn btn-main" text="Confirm" (tap)="onConfirmSlot()"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
