<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
        <Image src="res://account" class="account-icon" row="0" verticalAlignment="center" col="2" stretch="aspectFill" (tap)="onLogout()"></Image>
        <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Customer Booking Form"></Label>
    </GridLayout>
</ActionBar>
<ScrollView>
    <StackLayout>
        <StackLayout paddingBottom="30" paddingTop="30">
            <Label class="text-center customer-name" [text]="customerFullName"></Label>
        </StackLayout>
        <StackLayout>
            <FlexboxLayout class="table-box">
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Mon" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots; let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="(selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 1) || bookingDates.a.indexOf(ts.timeSlot) > -1"
                        [class.is-booked]="bookedSlot.a.indexOf(ts.timeSlot) > -1"
                        (tap)="onSelectSlot(dateRange[0], 1, ts.timeSlot, 'a')"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Tue" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="(selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 2) || bookingDates.b.indexOf(ts.timeSlot) > -1"
                        [class.is-booked]="bookedSlot.b.indexOf(ts.timeSlot) > -1"
                        (tap)="onSelectSlot(dateRange[1], 2, ts.timeSlot, 'b')"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Wed" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="(selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 3) || bookingDates.c.indexOf(ts.timeSlot) > -1"
                        [class.is-booked]="bookedSlot.c.indexOf(ts.timeSlot) > -1"
                        (tap)="onSelectSlot(dateRange[2], 3, ts.timeSlot, 'c')"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Thur" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="(selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 4) || bookingDates.d.indexOf(ts.timeSlot) > -1"
                        [class.is-booked]="bookedSlot.d.indexOf(ts.timeSlot) > -1"
                        (tap)="onSelectSlot(dateRange[3], 4, ts.timeSlot, 'd')"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Fri" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="(selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 5) || bookingDates.e.indexOf(ts.timeSlot) > -1"
                        [class.is-booked]="bookedSlot.e.indexOf(ts.timeSlot) > -1"
                        (tap)="onSelectSlot(dateRange[4], 5, ts.timeSlot, 'e')"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout>
            <Button class="btn btn-success" text="Confirm" (tap)="onConfirmSlot()"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
