<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
        <Image src="res://account" class="account-icon" row="0" verticalAlignment="center" col="2" stretch="aspectFill" (tap)="onLogout()"></Image>
        <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Manage Booking Form"></Label>
    </GridLayout>
</ActionBar>
<ScrollView>
    <StackLayout>
        <StackLayout paddingBottom="30" paddingTop="30">
            <Label class="text-center customer-name" [text]="customerFullName"></Label>
        </StackLayout>
        <StackLayout>
            <FlexboxLayout class="table-box">
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Mon" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots; let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 1"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Tue" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 2"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Wed" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 3"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Thur" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 4"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="th-box" flexDirection="column">
                    <Label text="Fri" class="table-head"></Label>
                    <Label *ngFor="let ts of timeSlots let i = index" [text]="ts.timeSlot" class="th-item"
                        [class.odd]="i%2 != 0" [class.even]="i%2 == 0"
                        [class.is-selected]="selectedSlot?.timeSlot == ts.timeSlot && selectedSlot?.bookedDay == 5"></Label>
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
        <StackLayout StackLayout *ngIf="currentBooking">
            <Button class="btn btn-main" col="1" text="Cancel Booking" (tap)="onCancelSlot()"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
