/* Add mobile styles for the component here.  */

.password-login-button {
    color: #000000;
    background-color: #F5F5F5;
    width: 400px;
    height: 200px;
    padding: 10px 31px 10px 31px;
    border-width: 3px;
}

.admin-label {
    margin-left: 60%;
    font-size: 20px;
    color: #000000;margin-bottom: 20px;
}

.logo {
    margin-top: 400px;
    margin-left: 25%;
}

.input {
    border-color: #226600;
    width: 90%;
    height: 200px;
    border-radius: 8%;
    border-width: 5px;
}

.input.ng-invalid.ng-touched {
    border-color: red;
    color: red;
}

.input-error {
    width: 90%;
    color: red;
}


.table-box {
    width: 100%;
    justify-content: center;
}
.table-head {
    background-color: black;
    color: ghostwhite;
    padding: 10 0;
    align-items: center;
}
.th-box {
    width: 20%;
}
.th-item {
    padding: 10 0;
    align-items: center;
}
.th-item.odd.is-selected,
.th-item.even.is-selected {
    color: white;
    background-color: green;
}
.th-item.odd.is-booked,
.th-item.even.is-booked {
    color: white;
    background-color: red;
}
.th-item.odd {
    background-color: white;
    color: black;
}

.th-item.even {
    background-color: ghostwhite;
    color: black;
}

.customer-name {
    font-size: 20%;
    font-family: "Arial Black";
    color: #303030;
}

