/* Add mobile styles for the component here.  */

.password-login-button {
    color: #000000;
    background-color: #F5F5F5;
    width: 400px;
    height: 200px;
    padding: 10px 31px 10px 31px;
    border-width: 3px;
}

.admin-label {
    margin-left: 60%;
    font-size: 20px;
    color: #000000;margin-bottom: 20px;
}

.logo {
    margin-top: 400px;
    margin-left: 25%;
}

.input {
    /* height: 45; */
    border-radius: 3;
    border-width: 1;
    border-color: #ddd;
}
.fbk-row {
    width: 100%;
    align-items: center;
    padding: 10 5;
    border-top-width: 1;
    border-top-color: #ddd;
    border-bottom-width: 1;
    border-bottom-color: #ddd;
}
.fbk-col1 {
    width: 30%;
    padding: 0 1;
}
.fbk-col2 {
    width: 20%;
    padding: 0 1;
}
.fbk-reply-btn {
    background-color: goldenrod;
    padding: 10 8;
}
