<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
        <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Customer Registration Screen"></Label>
    </GridLayout>
</ActionBar>

<ScrollView>
    <StackLayout class="page page-icon form" [formGroup]="form" paddingBottom="10" paddingTop="50">
        <StackLayout>
            <TextField
                    class="input input-field"
                    returnKeyType="next"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    formControlName="name"
                    hint="Name"
                    #nameEl
            ></TextField>
            <Label  class="input-error"
                    *ngIf="!nameControlIsValid"
                    text="Must not be empty."
                    textWrap="true"
            ></Label>
        </StackLayout>
        <StackLayout>
            <TextField
                    class="input input-field"
                    returnKeyType="next"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    formControlName="surname"
                    hint="Surname"
                    #surnameEl
            ></TextField>
            <Label  class="input-error"
                    *ngIf="!surnameControlIsValid"
                    text="Must not be empty."
            ></Label>
        </StackLayout>
        <StackLayout>
            <TextField
                       class="input input-field"
                       returnKeyType="next"
                       keyboardType="phone"
                       [autocorrect]="false"
                       autocapitalizationType="none"
                       formControlName="phone"
                       hint="Mobile Number"
                       [text]="phone"
                       #phoneEl
            ></TextField>
            <Label  class="input-error"
                    *ngIf="!phoneControlIsValid"
                    textWrap="true"
                    text="Must start with +353 and 9 other number characters"
            ></Label>
        </StackLayout>
        <StackLayout>
            <TextField
                    class="input input-field"
                    returnKeyType="next"
                    keyboardType="email"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    formControlName="email"
                    hint="username (email)"
                    #emailEl
            ></TextField>
            <Label
                    *ngIf="!emailControlIsValid"
                    class="input-error"
                    text="Please enter a valid email."
                    textWrap="true"
            ></Label>
        </StackLayout>
        <StackLayout class="">
            <TextField
                    class="input input-field"
                    returnKeyType="done"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    [secure]="true"
                    hint="Password"
                    formControlName="password"
                    (returnPress)="onDone()"
                    #passwordEl
            ></TextField>
            <Label  class="input-error"
                    *ngIf="!passwordControlIsValid"
                    textWrap="true"
                    text="Must be 8+ characters long with uppercase, lowercase, number(s) and special character(s)."
            ></Label>
        </StackLayout>
        <StackLayout class="">
            <TextField
                    class="input input-field"
                    returnKeyType="done"
                    [autocorrect]="false"
                    autocapitalizationType="none"
                    [secure]="true"
                    hint="Confirm Password"
                    formControlName="confirmPassword"
                    (returnPress)="onDone()"
                    #confirmPasswordEl
            ></TextField>
            <Label  class="input-error"
                    *ngIf="!confirmPasswordControlIsValid"
                    text="Must match with password."
            ></Label>
        </StackLayout>
        <Button
                class="btn btn-main"
                text="Submit"
                (tap)="onSubmit()"
                [disabled]="!form.valid"
        ></Button>
        <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
    </StackLayout>
</ScrollView>
