
<StackLayout  class="page ">
    <StackLayout paddingBottom="50" paddingTop="20">
        <Label class="text-center page-title" text="Browse Relevant Information About Asthma"></Label>
    </StackLayout>
    <StackLayout paddingBottom="30">
        <Label class="btn btn-primary" text="Document Title1"></Label>
    </StackLayout>
    <StackLayout>
        <Label class="btn btn-primary" text="Document Title2"></Label>
    </StackLayout>
    <StackLayout>
        <Label class="btn btn-primary" text="Document Title3"></Label>
    </StackLayout>
    <StackLayout>
        <Label class="btn btn-primary" text="Document Title4"></Label>
    </StackLayout>
</StackLayout>
