<StackLayout class="page page-icon form" [formGroup]="form" paddingBottom="20">
    <StackLayout paddingBottom="50" paddingTop="20">
        <Label class="text-center page-title" text="Forgot Password"></Label>
    </StackLayout>
    <StackLayout>
        <TextField
                class="input input-field"
                returnKeyType="next"
                keyboardType="email"
                [autocorrect]="false"
                autocapitalizationType="none"
                formControlName="email"
                hint="Email"
                #emailEl
        ></TextField>
        <Label
                *ngIf="!emailControlIsValid"
                class="input-error"
                text="Please enter a valid email."
        ></Label>
    </StackLayout>
    <Button
            class="btn password-login-button"
            text="Reset"
            (tap)="onSubmit()"
            [disabled]="!form.valid"
    ></Button>
    <ActivityIndicator [busy]="isLoading"></ActivityIndicator>
</StackLayout>
